.navbar{
    background-color: black;
    
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 30px 10px;
    font-size: 130%;
}
.navbar li a{
    padding: 3px 3px;
    color: aliceblue;
}
.navbar li a:hover{
    color: skyblue;
}



.section-text {
	margin-top: 20px;
	margin-bottom: 20px;
}

.section-heading {
	font-size: 200%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: skyblue;
}

.section-body {
	font-size: 110%;
}